body,
html {
  overflow-x: hidden;
  overflow: hidden;
}
.Movie {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  margin: 2%;
}

.movie-list {
  padding-left: 5%;
  padding-right: 5%;
}

.movie-list .slick-list {
  height: auto !important;
}

.movie-list .slick-track {
  display: flex;
  justify-content: center;
}

.slider {
  margin: 0 auto;
}
.slider .slick-slide {
  opacity: 0.5;
  transition: opacity 0.2s;
  margin-left: 15px;
  margin-right: 15px;
}

.slider .slick-slide.slick-active.slick-current {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 0.2s, opacity 0.2s;
}

.slider .slick-slide.slick-active {
  opacity: 0.8;
}
.movie-container {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  transition: width 0.2s, height 0.2s, padding 0.2s;
}
.slider .slick-slide.slick-active.slick-current .movie-container {
  transform: scale(1.1);
  transform-origin: center;
  z-index: 2;
}
.slider .slick-slide .movie-container {
  z-index: 1;
  transition: all 0.3s ease;
}
